[pyscrape]
; limit=0 is unlimited
backdrop_limit=0
poster_limit=0
thumb_limit=0
debug_log=true
language=de
fallback_language=en
rename_movie=true

[movie]
paths=/mnt/Movies1::/mnt/Movies2

[codec]
mediainfo_path=mediainfo
mkvmerge=mkvmerge

; deletes all audio tracks but the given from a mkv file - be careful (needs mkvmerge (installed by mkvtoolnix))
; usage: german::english:: ..
; uncomment to activate removing of audio tracks
keep_tracks=german


[tmdb]
api_key=
image_base=
url_base=http://api.themoviedb.org/3/

[fanarttv]
api_key=
image_base=
url_base=http://api.fanart.tv/webservice/movie/

[pushover]
token=
key=

[xbmc]
protocol=http
ip=192.168.178.50
port=8080
user=xbmc
pass=xbmc